.medicalBlock {
    margin-bottom: 70px;
}

.titleInner {
    position: relative;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 35px;
}

.medicalBlock ul {
    list-style: none;
}

.medicalBlock li {
    font-size: 14px;
    line-height: 20px;
    background: url('../../components/common/img/red-arr.svg') no-repeat left 22px top 5px;
    padding-left: 50px;
    margin-bottom: 12px;
    position: relative;
    text-align: justify;
}

@media (max-width: 400px) {
    .medicalBlock li {
        background: url('../../components/common/img/red-arr.svg') no-repeat left 5px top 5px;
        padding-left: 30px;
    }
}

.testBlock {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 90px;
}

@media (max-width: 1000px) {
    .testBlock {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.orderTest {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    max-width: 591px;
    border: 1px solid #c4c4c4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 40px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 11px;
}

@media (max-width: 1000px) {
    .orderTest {
        width: auto;
        margin: 0 0 15px 0;
    }
}

@media (max-width: 520px) {
    .orderTest {
        padding: 20px 30px;
    }
}

.orderTest span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #30AA33;
    display: block;
    margin-bottom: 5px;
}

.orderTest h4 {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #30AA33;
}

.orderTest p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 37px;
}

.listFor {
    list-style: none;
}

.listFor li {
    background: url('../../components/common/img/green-arr.svg') no-repeat left top 6px;
    padding-left: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.btnPriceBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 520px) {
    .btnPriceBox {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.btnOrder {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
}

@media (max-width: 520px) {
    .btnOrder {
        -ms-flex-item-align: auto;
        align-self: auto;
        margin-top: 15px;
    }
}

.btnRed {
    background: #eb3535;
    cursor: pointer;
    width: 134px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    line-height: 45px;
    color: #fff;
    border-radius: 30px;
    font-weight: 400;
    border: none;
}

.priceTime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 520px) {
    .priceTime {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.price {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #eb3535;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
    margin-top: 15px;
    padding: 8px 15px;
    text-align: center;
}

.formOrderBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
}

@media (max-width: 1000px) {
    .formOrderBox {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.formSteps {
    width: 100%;
    max-width: 688px;
    margin-left: 20px;
}

@media (max-width: 1000px) {
    .formSteps {
        margin-top: 15px;
    }
}

.formSteps h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
}

.formSteps ul {
    margin-bottom: 24px;
    list-style: none;
}

.formSteps li {
    font-size: 14px;
    line-height: 37px;
    background: url('../../components/common/img/red-arr.svg') no-repeat left top 13px;
    padding-left: 35px;
}

.formStepImg {
    max-width: 688px;
    height: 281px;
    border-radius: 40px;
}

.modal {
    height: auto;
    width: auto;
    z-index: 1000;
}

.stepItem {
    margin-bottom: 35px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stepImg {
    border-radius: 40px;
    position: relative;
    width: 100%;
    max-width: 338px;
    margin-right: 54px;
}

.stepImg span {
    position: absolute;
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: -10px;
    top: -10px;
    background: #30AA33;
    border-radius: 100%;
}

.stepImg img {
    max-width: 338px;
    width: 100%;
    border-radius: 20px;
    height: auto;
}

.stepDesc {
    width: 100%;
    max-width: 560px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.stepTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.stepText {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 40px;
    position: relative;
}

.stepText:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: url('../../components/common/img/green-arr.svg') no-repeat center center;
    width: 16px;
    height: 10px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.stepTextColor {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 40px;
    position: relative;
}

.stepTextColor:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: url('../../components/common/img/orn-arr.svg') no-repeat center center;
    width: 10px;
    height: 16px;
}

.boxWhatNeed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.needItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 232px;
    width: 100%;
    margin-right: 95px;
}


.needInfo {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.needInfoSmall {
    font-size: 12px;
    line-height: 15px;
}

.boxWhatNeed ul {
    list-style: none;
}


.boxWhatNeed li {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    background: url('../../components/common/img/circle.svg') no-repeat left center;
    padding-left: 24px;
}

@media (max-width: 890px) {
    .boxWhatNeed {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .boxWhatNeed ul {
        margin-top: 25px;
    }

    .boxWhatNeed li {
        line-height: 15px;
    }

    .needInfoSmall {
        margin-top: 8px;
    }
}

.consultantBox {
    padding: 33px 46px;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 40px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 890px) {
    .consultantBox {
        padding: 20px;
    }
}

.consImg {
    width: 111px;
    height: 111px;
    overflow: hidden;
    border-radius: 50%;
}

.consImg img {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
}

.consName {
    max-width: 227px;
    width: 100%;
}


.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 18px;
}

.status {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.consText {
    max-width: 690px;
    width: 100%;
}


@media (max-width: 1150px) {
    .consImg {
        margin-bottom: 7px;
        margin-right: 20px;
    }

    .consName {
        margin-bottom: 7px;
    }

    .consultantBox {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .consText {
        max-width: 100%;
    }
}

@media (max-width: 570px) {
    .consultantBox {
        padding: 20px;
    }

    .status {
        margin-bottom: 20px;
    }

    .consultantBox {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.consText p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.formStepsBox {
    margin-top: 70px;
}

@media (max-width: 700px) {
    .stepTextColor {
        padding-bottom: 20px;
    }

    .stepDesc {
        max-width: 100%;
        margin-top: 15px;
    }

    .stepImg {
        max-width: 100%;
        margin-right: 0;
    }

    .stepImg img {
        max-width: 100%;
    }
    .needItem{
        max-width: 100%;
        margin-right: 0;
    }

    .formSteps{
        margin-left: 0;
    }

}

