.title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 45px;
    text-decoration: none;
}

.boxItem {
    border: 1px solid #c4c4c4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 21px 21px;
    max-width: 287px;
    margin: auto;
}

.boxItem h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 40px;
}

.boxItem p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    width: 100%;
    max-width: 811px;
    margin-bottom: 40px;
}

.boxItem A {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #eb3535;
    text-decoration: none;
    display: inline-block;
    padding-right: 25px;
    background: url('../../components/common/img/red-arr.svg') no-repeat right center;
}

.boxItem A:hover {
    text-decoration: underline;
}

.titleInner {
    position: relative;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 35px;
}

.medicalBlock {
    margin-bottom: 70px;
}

.medicalBlock ul {
    list-style: none;
}

.medicalBlock li {
    font-size: 14px;
    line-height: 20px;
    background: url('../../components/common/img/red-arr.svg') no-repeat left 22px top 5px;
    padding-left: 50px;
    margin-bottom: 12px;
    position: relative;
    text-align: justify;
}

.medicalBlock p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}

.medicalBlock h3 {
    margin-bottom: 10px;
}

.medicalBlock ol {
    list-style: none;
}

.containerBtn {
    position: relative;
}




