.slideBox {
    position: relative;
    height: 300px;
    width: 360px;
    overflow: hidden;
    margin: 0;
}

.slideBox img {
    -o-object-fit: cover;
    object-fit: cover;
    height: auto;
    width: 360px;
}

.dots li button {
    width: 10px;
    height: 10px;
    margin-right: 15px;
}

.item li {
    width: 360px;
}

.carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
}

.containerBtn {
    position: relative;
}