/* .transferContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.transferContainer .content {
	width: calc(100% - 430px);
}

.transferBox {
	width: 400px;
	position: sticky;
	top: 30px;
} */
.btn_title_down {
	background: #eb3535;
	border-radius: 100px;
	border: none;
	color: #fff;
	text-align: left;
	font-weight: 500;
	font-size: 15px;
	height: 43px;
	line-height: 45px;
	display: block;
	cursor: pointer;
	width: max-content;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 50px;
	padding: 0 30px;
}
.transferBox {
	margin-top: 50px;
}

.titleInner {
    position: relative;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 35px;
}

.contactFields {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    margin-bottom: 45px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.itemField {
    padding: 10px 22px;
    border: 1px solid #eb3535;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 40px;
    margin-right: 26px;
    margin-top: 10px;
}

.mapBox {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 1060px) {
    .mapBox {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.itemMapBg {
    width: 100%;
    height: auto;
    max-width: 506px;
    border-radius: 40px;
    overflow: hidden;
}

.itemMapBg img {
    height: auto;
    max-width: 506px;
}

.itemMap {
    border-radius: 40px;
    overflow: hidden;
}

@media (max-width: 1041px) {
    .itemMap {
        margin-top: 30px;
    }
}