.title {

}

.content{
    text-align: justify
}

.content img {
    margin: 0 30px 20px 0;
    width: 100%;
    height: auto;
}

.content p {
    margin: 0 0 15px;
}

.content span {
    font-size: 14px;
    line-height: 1.5;
}


.content blockquote {
    padding: 10px 18px 13px;
    background: #189e40;
    color: #fff;
    margin: 0 0 20px;
    display: block;
}