.title {

}

.content{
    text-align: justify
}

.content img {
    display: block;
    margin: 15px auto;
    width: 70%;
    height: auto;
}

.content p {
    font-size: 14px;
    margin: 0 0 15px;
}

.content li {
    font-size: 14px;
    margin: 0 0 7px;
}

.content b {
    font-size: 16px;
    margin: 0 0 15px;
}

.content em {
    font-size: 14px;
    margin: 0 0 15px;
}

.content h3 {
    font-size: 16px;
    margin: 0 0 15px;
}


.content span {
    font-size: 14px;
    line-height: 1.5;
}

.content strong {
    font-size: 16px;
    line-height: 1.5;
}


.content blockquote {
    padding: 10px 18px 13px;
    background: #189e40;
    color: #fff;
    margin: 0 0 20px;
    display: block;
}