.accordion {
    max-width: 727px;
}

.itemHeading {
    position: relative;
    cursor: pointer;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
}

.itemHeading h3 {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.icon {
    position: absolute;
    right: 20px;
    top: 20%;
    color: #189e40;
    font-size: 30px;
}

.accordionItem p {
    opacity: 1;
    font-size: 14px;
    padding: 0 0px 5px 0px;
    margin-bottom: 15px;
}

.btn {
    padding: 16px 35px 16px 22px;
}

.accordionItemNull {
    display: none;
}

.showMore {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    max-width: 157px;
    color: #eb3535;
    text-decoration: none;
    padding-right: 25px;
    background: url('../../components/common/img/red-arr.svg') no-repeat right center;
}

.showMore:hover {
    text-decoration: underline;
}