.headerGreen {
    background-color: #30aa33;
    height: 300px;
}

.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 991px) {
    .headerGreen {
        height: auto;
    }
}

@media (max-width: 991px) {
    .title {
        font-size: 30px;
        padding-bottom: 31px;
    }
}