.boxHomeItem {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1160px) {
    .boxHomeItem {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

.boxHomeItemLeft {
    width: 100%;
    max-width: 320px;
}

.boxHomeItemLeftImg {
    overflow: hidden;
    display: block;
    width: 320px;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 40px;
    background-size: cover !important;
}

.boxHomeItemLink {
    position: relative;
    border: 1px solid #c4c4c4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 22px 36px;
    max-width: 320px;
}

.boxHomeItemLink a:hover {
    text-decoration: underline;
}

.boxHomeItemLink span {
    position: absolute;
    font-size: 8px;
    line-height: 27px;
    color: #c4c4c4;
    top: 5px;
}

.boxHomeItemLink h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 25px;
    min-height: 40px;
}

.boxHomeItemLink A {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #eb3535;
    text-decoration: none;
    display: inline-block;
    padding-right: 25px;
    background: url('../../components/common/img/red-arr.svg') no-repeat right center;
}

.boxHomeItemRight {
    width: 100%;
    max-width: 791px;
}

.boxHomeItemRight h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
    color: #30aa33;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .boxHomeItemRight h2 {
        font-size: 22px;
    }
}

.boxHomeItemRight A {
    position: relative;
    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
    color: #30aa33;
    text-decoration: none;
}

.boxHomeItemRight span {
    position: absolute;
    font-size: 8px;
    line-height: 27px;
    color: #c4c4c4;
    top: -13px;
    left: 47px;
    font-weight: 400;
}

.boxHomeItemRight p {
    font-size: 14px;
    line-height: 21px;
    color: #000;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .boxHomeItemRight p {
        color: #000;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 16px;
        text-align: justify;
    }
}





