.title {
    margin-bottom: 30px;
    font-size: 40px;
}

.content p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 25px;
}

.content ol li {
    list-style: none;
}

.content ul li {
    margin-bottom: 10px;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.content ol > li {
    margin-bottom: 30px;
}

.content a {
    color: -webkit-link;
    text-decoration: underline;
}

