.wrapper {
    border-radius: 40px;
    border: 1px solid #30AA33;
    width: 300px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.container {
    border-radius: 40px;
    position: relative;
}

.barCompleted {
    border-radius: 40px;
    height: 50px;
    background-color: #30AA33;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.art {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.contentBox{
    margin-top: 100px;
}

.contentBox h2{
    margin-bottom: 30px;
}

.lickBox A{
    margin-top: 30px;
    text-decoration: underline;
    background: url('../components/common/img/green-arr.svg') no-repeat left center;
    padding-left: 35px;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
}